.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto 60px auto;
  height: 300px;
  width: 100%;
  max-width: 900px;
  background: white;
  border-radius: 20px;
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 50px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 50px rgba(0, 0, 0, 0.13);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 50px rgba(0, 0, 0, 0.13);
  position: relative;
  overflow: hidden;

  &:nth-child(1) {
    margin-top: 100px;
  }

  &:nth-child(odd) {
    margin-right: 15%;
  }

  &:nth-child(even) {
    margin-left: 15%;
  }

  &__hr_set {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 52%;
    left: 43%;
    width: 300px;

    hr {
      width: 200px;
      border: transparent;
      height: 1px;
      margin: 0;
      background-color: #0a0f1b;
      margin-bottom: 10px;

      &:nth-child(2) {
        width: 150px;
      }

      &:nth-child(3) {
        width: 100px;
      }
    }
  }

  &__orb {
    img {
      width: 270px;
      height: 270px;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      border-radius: 50%;
      margin-top: 1.5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    position: absolute;
    font-size: 30px;
    top: 35%;
    width: 300px;
    text-align: center;
  }

  &__details {
    width: 250px;
    position: absolute;
    left: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__cta {
      margin-top: 30px;

      .github-icon {
        vertical-align: middle;
        margin-right: 15px;
        width: 25px;
        height: 25px;
      }

      .btn-primary {
        box-shadow: none;
        border: 1px solid #0a0f1b;
        background: transparent;
        padding: 8px 20px;

        i {
          vertical-align: middle;
        }
      }
    }
  }
}
