.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  padding: 20px 60px 0 60px;

  &-avatar {
    flex-basis: 60%;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 50px rgba(0, 0, 0, 0.13);
    }
  }

  &-navlinks {
    display: flex;
    z-index: 10;

    .active {
      -webkit-transition: all 1s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
      border-bottom: 1px solid black;
      padding-bottom: 5px;
    }

    &__link {
      margin-right: 55px;
      margin-top: 36px;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 600;
      font-size: 18px;
      max-height: 30px;
      padding-bottom: 5px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      transition: all .5s ease;
      cursor: pointer;

      &:hover {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease;
        border-bottom: 1px solid black;
      }
    }
  }

  &-themetoggle {
    flex-basis: 10%;
    flex-direction: row;
    padding-top: 32px;

    i {
      margin-right: 8px;
      vertical-align: middle;
    }

    .md-36 {
      cursor: pointer;
    }
  }
}
